<!-- application.html.erbに:titleを渡す　-->
<% provide(:title, "about") %>

 <div class="about-main">
    <h2>BookTrail</h2>
    <p>
    書庫管理サービスです。
    読んだ本の足跡を残すとともに、新しい本に触れられます。
    </p>

    <img class= "about-img" src="/books.jpg"> 
</div>
