<!-- application.html.erbに:titleを渡す　-->
<% provide(:title, "about") %>

 <div class="about-main">
    <h2>BookTrail</h2>
    <p>
    本の管理サービスです。
    読んだ本の足跡を残すとともに、に触れられます。
    </p>

    <img class= "about-img" src="/books.jpg"> 
</div>