<!-- application.html.erbに:titleを渡す　-->
<% provide(:title, "about") %>

 <div class="about-main">
    <h2>BookTrail</h2>
    <p>本の管理サービスです。</p>
    <p>読んだ本の記録を残しながら、皆が読んだ本に触れられます。</p>

    <img class= "about-img" src="/site_images/posts_show_image.png"> 
</div>