<div class="main posts-index">
    <div class="container">
 
        <% @posts.each do |post| %>
        <div class="posts-index-item">
        <table>
            <tr>
            <td><%= post.title %></td>
            <td><%= post.author %></td>
            </tr>
        </table>
        </div>
        <% end %>
    </div>

    </div>
</div>