<% provide(:title, "書籍一覧") %>
<div class="main posts-index">
    <div class="container">
    <div class="form-heading">本の広場</div>
        <% @posts.each do |post| %>
        <div class="posts-index-item">
            <div class="post-left">
                <img src="<%= "/user_images/#{post.user.image_name}" %>">
            </div>
            <div class="post-right">
                <div class="post-user-name">
                    <%= link_to(post.user.name, "/users/#{post.user.id}") %>
                </div>
            <p>「<%= link_to(post.title, "/posts/#{post.id}") %>」 著：<%= link_to(post.author, "/posts/#{post.id}") %></p>
            </div>
        </div>
        <% end %>
    </div>
</div>