/* posts/index ================================ */
.posts-index-item {
  padding: 20px 30px;
  margin-top: 10px;
  background-color:rgba(255, 255, 255, 0.8);
  overflow: hidden;
  box-shadow: 0 1px 2px #c1ced7;
}

.posts-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0px 2px 6px #c1ced7;
  object-fit: cover;
}

.posts-user-name a {
  font-weight: 600;
}

.posts-user-name a:hover {
  color: #3ecdc6;
}

.posts-left {
  float: left;
  width: 10%;
}

.posts-right {
  float: left;
  width: 90%;
  padding-left: 25px;
}

.posts-right li{
  white-space: nowrap;      /* 横幅のMAXに達しても改行しない */
  overflow: hidden;         /* ハミ出した部分を隠す */
  text-overflow: ellipsis;  /* 「…」と省略 */
  display:inline-block;
}

.posts-left-content{
  width: 260px;
  text-align:left;
  float:left;
}

.posts-right-content{
  width: 160px;
  text-align:right;
  float:right;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.post-title {
  font-size: 24px;
  margin-top: 20px;
  display:inline-block;
  width:60%;
}

.post-author{
  color:#8899a6;
  font-size:22px;
  margin-bottom:20px;
  text-align:right;
  display:inline-block;
  width:30%;
}


.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts/new likebtn ========================= */
.like-btn{
  color:#8899a6;
}
.like-btn-unlike{
  color:#ff2581;
}
.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

.posts-errors-list li{
  color: #e9546b
}


